:root {
    --main-color:#182C61;
    --second-color:#60a3bc;
    --third-color:#ffcccc;
    
}
header {
    background-color: var(--second-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
header h1 {
    font-weight: bold;
    color: var(--main-color);
    font-size: 36px;
    font-family:monospace;
    margin: 0;
}
header a {
    color: var(--main-color) ;
}
header nav {
    margin: 8px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

