<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Shelby-Porfolio</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
        integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous" />
</head>

<body>
    <!-- navigation -->
    <header>
        <h1>
            <!-- <a href="/">
                SHELBY VO
            </a> -->
        </h1>
        <nav>
            <ul>
                <li>
                    <a href="#about-me">About-me</a>
                </li>
                <li>
                    <a href="#my-project">My-projects</a>
                </li>
                <li>
                    <a href="#my-info">My-info</a>
                </li>
                <li>
                    <a href="../static/Shelby❤️ .pdf">My Resume</a>
                </li>
            </ul>
        </nav>
    </header>


    <section class="success-message">
       <h3> Message sent successfully! Thank you!</h3>
       
       <h6>-- Shelby --</h6>
    </section>
  </body>
</body>

</html>